* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



a{
    color: var(--texto);
    text-decoration: none;
}

/* --------------------------- */
/* HEADER */
/* --------------------------- */

header{
    background: var(--fondo-contenido);
}

header .logo {
    display: inline-block;
}

header .logo i {
    color: var(--blanco);
    height: 35px;
    width: 35px;
}


























