
<header class="fixed-top">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <!-- Logo y barra de busquedad -->
            <div class="col-2 d-flex align-item-center">
                <a href="" class="logo me-2">
                    <i class="bi bi-bootstrap-fill"></i>
                </a>
                <div class="barra-busqueda">
                    <div class="icono">
                        <i class="bi bi-search"></i>
                    </div>
                    <input type="search" placeholder="Buscar">
                </div>
            </div>
            <!-- Menu -->
            <div class="menu col-6 text-center">
                <a href="#" class="active">
                    <i class="bi bi-house-door-fill"></i>
                </a>
                <a href="#">
                    <i class="bi bi-flag"></i>
                </a>
                <a href="#">
                    <i class="bi bi-play-btn"></i>
                </a>
                <a href="#">
                    <i class="bi bi-shop-window"></i>
                </a>
                <a href="#">
                    <i class="bi bi-people"></i>
                </a>
            </div>
            <!-- Botones -->
            <nav class="botones col-2 text-end d-flex align-items-center justify-content-end">
                <a href="" class="perfil">
                    <img src="./../../../assets/persona2.jpg" alt="">Cesar
                </a>
                <a href="">
                    <i class="bi bi-grid-fill"></i>
                </a>
                <a href="">
                    <i class="bi bi-chat-dots-fill"></i>
                </a>
                <a href="">
                    <i class="bi bi-bell-fill"></i>
                </a>
            </nav>
        </div>
    </div>
</header>