
<header class="fixed-top">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <!-- Logo y barra de busquedad -->
            <div class="col col-lg-3 col-xl-2 d-flex align-item-center order-1">
                <a href="" class="logo me-2">
                    <i class="bi bi-bootstrap-fill"></i>
                </a>
                <div class="barra-busqueda d-none d-sm-block">
                    <div class="icono">
                        <i class="bi bi-search"></i>
                    </div>
                    <input type="search" placeholder="Buscar">
                </div>
            </div>
            <!-- Menu -->
            <div class="menu col-12 col-lg-6 col-xl-6 text-center order-3 order-lg-2">
                <a href="#" class="active">
                    <i class="bi bi-house-door-fill"></i>
                </a>
                <a href="#">
                    <i class="bi bi-flag"></i>
                </a>
                <a href="#">
                    <i class="bi bi-play-btn"></i>
                </a>
                <a href="#">
                    <i class="bi bi-shop-window"></i>
                </a>
                <a href="#">
                    <i class="bi bi-people"></i>
                </a>
            </div>
            <!-- Botones -->
            <nav class="botones col-auto col-lg-3 col-xl-2 text-end d-flex align-items-center justify-content-end order-2 order-lg-3">
                <a href="" class="perfil">
                    <img src="./../../../assets/persona2.jpg" alt="">Cesar
                </a>
                <a href="">
                    <i class="bi bi-grid-fill"></i>
                </a>
                <a href="">
                    <i class="bi bi-chat-dots-fill"></i>
                </a>
                <a href="">
                    <i class="bi bi-bell-fill"></i>
                </a>
            </nav>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row justify-content-center justify-content-md-between">
        <aside class="enlaces-rapidos col-3 col-xl-2">
            <nav>
                <a href="#" class="perfil">
                    <img src="./../../../assets/persona2.jpg" alt="">Cesar Garcia
                </a>
                <a href="#">
                    <i class="bi bi-people-fill d-block"></i>
                    Amigos
                </a>
                <a href="#">
                    <i class="bi bi-flag-fill d-block"></i>
                    Paginas
                </a>
                <a href="#">
                    <i class="bi bi-collection-fill d-block"></i>
                    Grupos
                </a>
                <a href="#">
                    <i class="bi bi-bag-fill d-block"></i>
                    Marketplace
                </a>
                <a href="#">
                    <i class="bi bi-bag-fill d-block"></i>
                    Watch
                </a>
                <a href="#">
                    <i class="bi bi-calendar-event-fill d-block"></i>
                    Eventos
                </a>
            </nav>

            <footer>
                <nav>
                    <a href="#">Privacidad</a>
                    <a href="#">Condiciones</a>
                    <a href="#">Publicidad</a>
                    <a href="#">Opciones de anuncios</a>
                    <a href="#">Cookies</a>
                    <a href="#">Mas</a>
                </nav>
            </footer>
        </aside>

        <main class="col-12 col-sm-10 col-md-6 col-xxl-4">
            <div class="publicar">
                <div class="formulario">
                    <a href="#" class="foto">
                        <img src="./../../../assets/persona2.jpg" alt="">
                    </a>
                    <input type="text" placeholder="¿Que estas pensando Cesar?">
                </div>
                <hr>
                <div class="botones d-flex">
                    <a href="#">
                        <i class="bi bi-camera-video-fill"></i>
                        Video
                    </a>
                    <a href="#">
                        <i class="bi bi-images"></i>
                        Foto
                    </a>
                    <a href="#">
                        <i class="bi bi-emoji-smile-fill"></i>
                        Sentimiento
                    </a>
                </div>
            </div>

            <div class="publicaciones">
                <div class="publicacion">
                    <div class="header">
                        <a href="#" class="foto">
                            <img src="./../../../assets/persona3.jpg" alt="">
                        </a>
                        <div class="datos">
                            <a href="#" class="nombre">Stephanie Doe</a>
                            <a href="#" class="hora">1hr</a>
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <img src="./../../../assets/paisaje1.jpg" alt="">
                    </div>
                    <div class="comentarios d-flex justify-content-between">
                        <div class="me-gusta d-flex justify-content-start align-items-center">
                            <i class="bi bi-heart-fill"></i>
                            <span>60</span>
                        </div>
                        <a href="#">7 Comentarios</a>
                    </div>
                    <div class="botones d-flex">
                        <button class="me-gusta">
                            <i class="bi bi-hand-thumbs-up"></i>
                            Me gusta
                        </button>
                        <button class="me-gusta">
                            <i class="bi bi-chat-left"></i>
                            Comentar
                        </button>
                    </div>
                </div>
            </div>

            <div class="publicaciones">
                <div class="publicacion">
                    <div class="header">
                        <a href="#" class="foto">
                            <img src="./../../../assets/persona1.jpg" alt="">
                        </a>
                        <div class="datos">
                            <a href="#" class="nombre">Stephanie Doe</a>
                            <a href="#" class="hora">2hr</a>
                        </div>
                    </div>
                    <div class="body">
                        <p>Lorem ipsum dolor sit amet.</p>
                        <img src="./../../../assets/paisaje2.jpg" alt="">
                    </div>
                    <div class="comentarios d-flex justify-content-between">
                        <div class="me-gusta d-flex justify-content-start align-items-center">
                            <i class="bi bi-heart-fill"></i>
                            <span>60</span>
                        </div>
                        <a href="#">7 Comentarios</a>
                    </div>
                    <div class="botones d-flex">
                        <button class="me-gusta">
                            <i class="bi bi-hand-thumbs-up"></i>
                            Me gusta
                        </button>
                        <button class="me-gusta">
                            <i class="bi bi-chat-left"></i>
                            Comentar
                        </button>
                    </div>
                </div>
            </div>
        </main>

        <aside class="contactos col-3 col-xl-2">
            <div class="seccion">
                <h3 class="titulo">Publicidad</h3>
                <div class="publicidad">
                    <a href="#">
                        <img src="./../../../assets/ad1.jpg" alt="">
                    </a>
                </div>
                <div class="publicidad">
                    <a href="#">
                        <img src="./../../../assets/ad2.jpg" alt="">
                    </a>
                </div>
            </div>

            <div class="seccion">
                <h3 class="titulo">Contactos</h3>
                <nav>
                    <a href="#" class="perfil">
                        <img src="./../../../assets/persona2.jpg" alt="">
                        Cesar Doe
                    </a>
                    <a href="#" class="perfil">
                        <img src="./../../../assets/persona1.jpg" alt="">
                        Alejandro
                    </a>
                    <a href="#" class="perfil">
                        <img src="./../../../assets/persona3.jpg" alt="">
                        Stephanie Doe
                    </a>
                    <a href="#" class="perfil">
                        <img src="./../../../assets/persona4.jpg" alt="">
                        Alexis Doe
                    </a>
                </nav>
            </div>
        </aside>
    </div>
</div>