
<header class="fixed-top">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <!-- Logo y barra de busquedad -->
            <div class="col col-lg-3 col-xl-2 d-flex align-item-center order-1">
                <a href="" class="logo me-2">
                    <i class="bi bi-bootstrap-fill"></i>
                </a>
                <div class="barra-busqueda d-none d-sm-block">
                    <div class="icono">
                        <i class="bi bi-search"></i>
                    </div>
                    <input type="search" placeholder="Buscar">
                </div>
            </div>
            <!-- Menu -->
            <div class="menu col-12 col-lg-6 col-xl-6 text-center order-3 order-lg-2">
                <a href="#" class="active">
                    <i class="bi bi-house-door-fill"></i>
                </a>
                <a href="#">
                    <i class="bi bi-flag"></i>
                </a>
                <a href="#">
                    <i class="bi bi-play-btn"></i>
                </a>
                <a href="#">
                    <i class="bi bi-shop-window"></i>
                </a>
                <a href="#">
                    <i class="bi bi-people"></i>
                </a>
            </div>
            <!-- Botones -->
            <nav class="botones col-auto col-lg-3 col-xl-2 text-end d-flex align-items-center justify-content-end order-2 order-lg-3">
                <a href="" class="perfil">
                    <img src="./../../../assets/persona2.jpg" alt="">Cesar
                </a>
                <a href="">
                    <i class="bi bi-grid-fill"></i>
                </a>
                <a href="">
                    <i class="bi bi-chat-dots-fill"></i>
                </a>
                <a href="">
                    <i class="bi bi-bell-fill"></i>
                </a>
            </nav>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row justify-content-center justify-content-md-between">
        <aside class="enlaces-rapidos col-2">
            <nav>
                <a href="#" class="perfil">
                    <img src="./../../../assets/persona2.jpg" alt="">Cesar Garcia
                </a>
                <a href="#">
                    <i class="bi bi-people-fill"></i>
                    Amigos
                </a>
                <a href="#">
                    <i class="bi bi-flag-fill"></i>
                    Paginas
                </a>
                <a href="#">
                    <i class="bi bi-collection-fill"></i>
                    Grupos
                </a>
                <a href="#">
                    <i class="bi bi-bag-fill"></i>
                    Marketplace
                </a>
                <a href="#">
                    <i class="bi bi-bag-fill"></i>
                    Watch
                </a>
                <a href="#">
                    <i class="bi bi-calendar-event-fill"></i>
                    Eventos
                </a>
            </nav>

            <footer>
                <nav>
                    <a href="#">Privacidad</a>
                    <a href="#">Condiciones</a>
                    <a href="#">Publicidad</a>
                    <a href="#">Opciones de anuncios</a>
                    <a href="#">Cookies</a>
                    <a href="#">Mas</a>
                </nav>
            </footer>
        </aside>
    </div>
</div>